page-home {
    ion-item {
        max-height: 2rem; 
        .picto {
            width: 40px;
            height: auto;
            vertical-align: middle;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
